*
!.gitignore
!README.md
!requirements.txt
!app.py
!graphiques.py
!.streamlit/
!.streamlit/config.toml
!static/
!static/**
!notebooks/
!notebooks/01_exploration.ipynb
!notebooks/02_preprocessing.ipynb
!notebooks/03_modelisation.ipynb
!notebooks/04_visualisations_interactives.ipynb
!data/
!data/raw/
!data/raw/weatherAUS.csv
!data/output/
!data/output/app/
!data/output/app/**
!data/output/X_test_J1_arbres.csv
!data/output/X_test_J2_arbres.csv
!models/
!models/modele_xgboost.json
!models/modele_xgboost_J2.json
!models/preprocessing_artifacts.joblib
!models/modeles_parametres.joblib
!models/modeles_parametres_J2.joblib
